* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}
.section {
    background-image: url(../imagenes/fondo-section.jpg);
    padding: ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}